/* global */
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    font-weight: 700;
    color: white;
    border: 0;
    padding: 15px 35px;
}

/* body */
body{
    font-family: 'Open Sans', sans-serif;
}

/* header section start */
.header{
    background-color: #FFF8F3;
}

/* nav section */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
    
}
nav > ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}

/* bannar section  */
.bannar {
    padding: 30PX 30PX 30PX 150px;
    display: flex;
    align-items: center;
}
.bannar.profile-pic{
    width: 500px;
}