/* global */
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    font-weight: 700;
    color: white;
    border: 0;
    padding: 15px 35px;
}

/* body */
body{
    font-family: 'Open Sans', sans-serif;
}

/* header section */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
    
}
nav > ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}